  



.team-section
{
    color: black;
    overflow: hidden;
    text-align: center;
    /* background-color: #293C59; */
    padding: 60px;
}

.border
{
    display: block;
    margin-bottom: 20px;
    background-color: aqua;
    width:800px;
    height: 3px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.pclass
{
    margin-bottom:40px;
}

.pclass a{
    overflow: hidden;
    height: 160px;
    width: 160px;
    display: inline-block;
    border-radius: 50%;
}
.pclass a img{
    width: 100%;
    filter:grayscale(100%);
    transition: 0.4s all;
}

.pclass a img:hover
{
    filter: grayscale(0%);
}

.section
{
    color: black;
    overflow: hidden;
    width: 600px;
    height: 0px;
    justify-content: center;
    
}
.section:target{
    height:auto;
}
.border2
{
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: aqua;
    width:150px;
    height: 3px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}